/* You can add global styles to this file, and also import other style files */
.nav-logo {
  background: rgba(0, 0, 0, 0) url("assets/logo-circle-top-sm.png") no-repeat scroll left center;
  height: 30px;
  padding-left: 112px;
  padding-top: 3px;
}
